<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 BookRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.icecreamapp.model.dao.OrderDao">
    <insert id="insertOrder" parameterType="Order"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order`
        (
        member_id,
        date,
        spoon,
        dryice,
        price_sum)
        VALUES
        (#{memberId},
        #{date},
        #{spoon},
        #{dryice},
        #{priceSum})
    </insert>


    <select id="selectOrderByEmail" resultType="Order">
        SELECT id,
        member_id,
        date,
        spoon,
        dryice,
        price_sum
        FROM `order` where member_id=#{memberId}
        <if test="isRecent==true">
            LIMIT 5
        </if>
    </select>


</mapper>