<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 BookRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.icecreamapp.model.dao.OrderDao">
    <insert id="insertOrder" parameterType="Order"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order`
        (
        member_id,
        date,
        spoon,
        dryice,
        price_sum)
        VALUES
        (#{memberId},
        #{date},
        #{spoon},
        #{dryice},
        #{priceSum})
    </insert>


    <select id="selectOrderByEmail" resultType="Order">
        SELECT id,
        member_id,
        date,
        spoon,
        dryice,
        price_sum
        FROM `order` where member_id=#{memberId}
        <if test="isRecent==true">
            LIMIT 5
        </if>
    </select>

    <!--<select id="selectOrderByEmailResultmap" resultMap="">

    </select>

     <select id="selectOrderInfo" parameterType="int" resultMap="OrderResult">
         select
         o.o_id id
         , o.user_id
         , o.order_table
         , o.order_time
         , o.completed
         , o.o_id as order_id
         from t_order o

         where o_id = #{oid};
     </select>


    <select id="getOrderDetailInfo" parameterType="int" resultType="OrderDetailInfo">
        select
        d.d_id as id
        , o.o_id as order_id
        , p.id as product_id
        , d.quantity
        , p.name
        , p.price as unit_price
        , d.quantity*p.price as sum_price
        , p.type
        , p.img
        from t_order o
        join t_order_detail d on o.o_id = d.order_id
        join t_product p on d.product_id = p.id
        where o_id = #{order_id}
        orderRequest by d.d_id asc;
    </select>

    <resultMap id="OrderResult" type="OrderInfo">
        <collection property="details" javaType="ArrayList" column="order_id" ofType="OrderDetailInfo"
                    select="getOrderDetailInfo"/>
    </resultMap>-->


</mapper>